/* Base styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

  
/* Custom styles */ 
.flex-container {
	display: flex;
	flex-direction: row;
	border: 5px solid #7f00ff;
	min-height: 10vh;
}

.one {
	flex-wrap: wrap;
}
.two {
	flex-wrap: wrap-reverse;
}



.item-1 {
	background-image: linear-gradient(45deg, #ff8177, #cf556c);
}
  
.item-2 {
	background: linear-gradient(45deg, #84fab0, #8fd3f4);
}
  
.item-3 {
	background: linear-gradient(45deg, #a6c0fe, #f68084);
}
  
.item-4 {
	background: linear-gradient(45deg, #d4fc79, #96e6a1);
}
  
  
